'.source.js':
  'require mongoose':
    'prefix': 'reqmongoose'
    'body': """
      const mongoose = require('mongoose');
    """
  'connect':
    'prefix': 'connectmongoose'
    'body': """
      mongoose.connect($1);
      let db = mongoose.connection;
    """
  'check connection mongoose':
    'prefix': 'checkconnect'
    'body': """
      db.once('open', () => {
        console.log('Connected to MongoDB');
      });

      db.on('error', (err) => {
        console.log(err);
      });
    """
  'mongoose Schema':
    'prefix': 'mongoose.Schema'
    'body': """
      const Schema = mongoose.Schema;

      const $1 = mongoose.Schema({
        name:{
          type: String,
          require: true
        }
      });

      const User = module.exports = mongoose.model('User', $1);
    """
  'mongoose find':
    'prefix': 'find'
    'body': """
      find({}, (err, $1) => {
        if (err) {
          console.log(err);
        } else {

        }
      });
    """
  'mongoose save/ add data':
    'prefix': 'save'
    'body': """
      save((err) => {
        if (err) {
          console.log(err);
          return;
        } else {
          $1
        }
      });
    """
  'mongoose update':
    'prefix': 'update'
    'body': """
      update(query, $1, (err) => {
        if (err) {
          console.log(err);
          return;
        } else {

        }
      });
    """
  'mongoose delete':
    'prefix': 'remove'
    'body': """
      remove(query, (err) => {
        if (err) {
          console.log(err);
        }
        res.send('Success');
      });
    """
  'mongoose findById':
    'prefix': 'findById'
    'body': """
      findById(req.body.id, (err, $1) => {

      });
    """
